<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Build with Nestjs + Handlebars and HTMX</strong> by <a href="http://diegochavez.dev">Diego Chavez</a> and one of those weekend I'm curious with new tech.
    </p>
  </div>
</footer>