<div class="container">
  <div class="content">
    <div class="box">
      <h3>Please authenticate yourself</h3>
      <form action="">

        {{!-- <div class="field">
          <label class="label">Name</label>
          <div class="control">
            <input class="input" type="text" placeholder="e.g Alex Smith" />
          </div>
        </div>

        <div class="field">
          <label class="label">Email</label>
          <div class="control">
            <input
              class="input"
              type="email"
              placeholder="e.g. alexsmith@gmail.com"
            />
          </div>
        </div> --}}

        <a href="api/auth" class="button">
          Just click here "Authenticate"
        </a>

      </form>
    </div>
  </div>
</div>