{{#if authenticated}}
{{#if layout}}
<html>
  <head>
    <meta charset='utf-8' />
    <title>App</title>
    <script
      src='https://unpkg.com/htmx.org@1.9.10'
      integrity='sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC'
      crossorigin='anonymous'
    ></script>
    <link
      rel='stylesheet'
      href='https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css'
    />
    <script>
        htmx.onLoad(function() {

          // Get all "navbar-burger" elements
          const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

          // Add a click event on each of them
          $navbarBurgers.forEach(el => {
            el.addEventListener('click', () => {

              // Get the target from the "data-target" attribute
              const target = el.dataset.target;
              const $target = document.getElementById(target);

              // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
              el.classList.toggle('is-active');
              $target.classList.toggle('is-active');

            });
          });

        });
    </script>
  </head>
  <body>
    {{> header}}
<div class="container is-widescreen">

        {{/if}}{{{body}}}{{#if layout}}

</div>
    {{> footer}}

  </body>
</html>
{{/if}}
{{/if}}
{{#unless authenticated}}
{{#if layout}}
<html>
  <head>
    <meta charset='utf-8' />
    <title>App</title>
    <script
      src='https://unpkg.com/htmx.org@1.9.10'
      integrity='sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC'
      crossorigin='anonymous'
    ></script>
    <link
      rel='stylesheet'
      href='https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css'
    />
  </head>
  <body>

{{> login}}

  </body>
</html>
{{/if}}
{{/unless}}
