<section class="hero">
  <div class="hero-body">
    <p class="title">
      About the project
    </p>
    <p class="subtitle">
      Or some other page that is not reactive
    </p>
  </div>
</section>