<section class="hero">
  <div class="hero-body">
    <p class="title">
      Welcome to the HTMX Nestjs demo
    </p>
    <p class="subtitle">
      The objective is to showcase an integrated HTMX and Nestjs application, 
      we are going to use the common patterns of web development forms, tables,
      and some other components.
    </p>
  </div>
</section>



